* {
    margin: 0;
    padding: 0;
    color: #d2d2d2;
    font-family: 'Open Sans';
}

body {
    /* background-color: #bbe1fa; */
    /* background: rgb(50,130,184);
    background: linear-gradient(110deg, rgba(50,130,184,1) #bbe1fa, rgba(187,225,250,1) #0f4c75); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.app {
    margin: 10vh;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 6px;
    /* margin-bottom: 40px; */
    padding-bottom: 36px;
    /* grid-template-rows: auto auto auto auto auto auto auto 1fr; */
    /* flex-wrap: wrap;
    flex-flow: column; */
    /* grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: auto 20px auto auto auto; */
    /* justify-content: center; */
    
    align-self: center;
    /* background: rgb(27,38,44);
    background: linear-gradient(240deg, rgba(27,38,44,1) #1b262c, rgba(54,61,65,1) #0f4c75); */

    background-color: rgba(12,12,0, 0.95);
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    /* height: 80vh; */
    min-height: 600px;
    border-radius: 20px;
    -webkit-box-shadow: 18px 25px 72px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 18px 25px 72px -1px rgba(0,0,0,0.51);
    box-shadow: 18px 25px 72px -1px rgba(0,0,0,0.51);
    text-align: center;
}

h2 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.display > h2 {
    margin: 30px;
}

h3 {
    font-weight: 300;
    font-size: 1.6rem;
}

h3 > span {
    font-weight: 600;
}

.data {
    display: grid;
    grid-template-columns: 50% 50%;
}

ul {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;

    scrollbar-color: #0A4C95 #C2D2E4;
    scrollbar-width: thin;
}

ul::-webkit-scrollbar {
    width: 5px;
    height: 14px;
}

ul::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0.2);
    border: 2px solid #0f4c75;
    border-radius: 4px;
}

ul::-webkit-scrollbar-thumb:horizontal {
    background-color: #0f4c75;
    border-radius: 4px;
}

/* ul::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

ul::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
 } */

input {
    border-radius: 10px;
    font-size: 1.8rem;
    background-color: #d2d2d2;
    color:rgb(27,38,44);
    border: none;
    padding: 10px;
    margin: 10px;
}

button {
    font-size: 1.7rem;
    background-color: #0f4c75;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    white-space: nowrap;
    transition: background-color 1s linear;
}

button:hover {
    background: linear-gradient(-45deg, #bb5f43, #802548, #124d64, #166e5a);
	background-size: 400% 400%; 
    animation: gradient 5s ease-in-out infinite;
}

button:focus {
    outline: none;
}

.display {
    font-size: 1.4rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    row-gap: 6;
    grid-template-rows: auto auto auto 1fr;

    justify-content: center;
    align-content: center;

    height: 700px;
}

.map > iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.map {
    margin-top: 20px;
}


@media only screen and (max-width: 800px) {
    .app {
        width: 90vw;
        padding: 0;
        margin: 0;
        margin-top: 4vh;
        height: auto;
        margin-bottom: 40vh;
        /* display: none; */
        /* background-color: red; */
    }


    .data {
        margin: 20px;
    }
    
    .map {
        margin: 20px;
    }

    button {
        white-space: normal;
    }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

